*.iml
.gradle
/local.properties
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/assetWizardSettings.xml
build/
.flutter-plugins
.flutter-plugins-dependencies
.DS_Store
/android/build
/captures
.externalNativeBuild
.cxx
local.properties
/.dart_tool
