<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013874953335-nbmqp8ffpt6u2nrolfb814ml3vgcivlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013874953335-nbmqp8ffpt6u2nrolfb814ml3vgcivlg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013874953335-34a8d3946p28eikdica7f145mp3q3trs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwhvaf2ASdAKTi5pvfdx2MsArX8-V2R-c</string>
	<key>GCM_SENDER_ID</key>
	<string>1013874953335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b2c.choosifoodi</string>
	<key>PROJECT_ID</key>
	<string>choosi-foodi</string>
	<key>STORAGE_BUCKET</key>
	<string>choosi-foodi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013874953335:ios:838b50d23fc85d98c24a72</string>
</dict>
</plist>